.texture1{
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:rgba(0,0,0,.4);
    background-size:16px 16px;
}
body{
    background-color: rgba(0,0,0,0.1);
}
.container-fluid{
    height: 100vh;
    width: 100%;
}
.card{
    box-shadow: 0 0 10px 5px rgba(205,150,105,0.3);
}
#tabs-login .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2A77E0;
    background-color: #FFFFFF;
    border-color: transparent transparent #2A77E0;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs-login .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
     font-weight: bold;
}
#tabs-login .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
}
/* Css para los campos requeridos */
#tabs-login input{
   border-left: 2px solid rgb(128, 128, 128,0.3); 
}
#tabs-login input:required{
    border-left: 2px solid rgba(255,0,0,0.5);
}
#tabs-login input:required:valid{
    border-left: 2px solid #4BB543; 
}
#tabs-login input:required:invalid{
    border-left: 2px solid rgba(255,0,0,0.5); 
}

.content-center{
    margin:0 auto;  
}

/* Arreglando el tamaño */
@media(min-width: 1600px){
    .content-center{
        width: 70% !important;
    }
}
@media(min-width:992px){
    .nav-item-right{
        position: absolute;
        right: 10px;
    }
}
@media(min-height: 640px){
    .content-center{
        margin-top: 2em;
    }     
    .page-footer{
        *display: none;
    }
}
@media(max-height: 639px){
    .content-center{
        margin-top: 0.5em;
    } 
}

/* POSTS */
.posts{
    position: relative;
}
.posts .like{
    position: absolute;
    top:5px;
    right:15px;
}
.posts .post-body{
    max-height: 30px;
}
.posts .like #count-like{
   font-size: 12px;
}
.badge{
    padding: 0.25em 0.3em;
    font-size: 73%;
}
.text-line-3{
    height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.text-line-3:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
  